:root {
    --width: 100px;
    --height: 100px;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #000000;
    overflow: hidden;
}

#map {
    position: absolute;
    width: var(--width);
    height: var(--height);
}